body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	z-index: 10;
}
.coffee {
	height: -moz-fit-content;
	height: fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 0.25em 0.3em 0.25em 0.3em;
	font-size: 0.6em;
	font-family: Brush Script MT;
	background-color: #fff;
	border-radius: 0.5em;
	cursor: pointer;
	outline: none;
}
.coffee:hover {
	background-color: #868e96;
}
/*----navbar----*/
.sticky {
	top: 0;
	width: 100%;
}
.navbar {
	height: 6vh;
	display: flex;
	overflow: hidden;
	position: sticky;
	z-index: 20;
	background-color: #1b242f;
	justify-content: space-between;
}

.nav-link {
	width: 60%;
	font-size: 0.8em;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.page-link {
	color: #fff;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	transition-duration: 400ms;
}

.page-link:hover {
	color: #e31b6d;
	transition-duration: 400ms;
}
.burger-bar {
	width: 1em;
	height: 0.2em;
	background-color: #fff;
	margin: 4px 0 4px 0;
}
.burger {
	margin: 2px 0 2px 0;
	display: none;
	margin-right: 5%;
}

/*----homepage----*/
.home {
	background-color: #252934;
	min-height: 94vh;
	width: auto;
	display: flex;
}
.head-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.head {
	height: auto;
	width: 100%;
	margin: auto;
	text-align: center;
}
.hello {
	font-size: 2em;
	line-height: 1.25em;
	font-family: 'Raleway', sans-serif;
	color: #fff;
}
.highlight {
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
	color: #e31b6d;
}
.direct {
	height: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box {
	height: 2em;
	width: 9em;
	margin: auto;
	border: 0.1em solid #fff;
	align-items: center;
	padding-left: 0.5em;
	display: flex;
	justify-content: space-evenly;
}
.box:hover {
	background-color: #04c2c9;
	border-color: #04c2c9;
	transition: all 400ms ease;
	cursor: pointer;
}

.box:hover .fa-arrow-right {
	transform: rotate(90deg);
	transition-duration: 400ms;
	transition-timing-function: ease-in-out;
}

.mywork {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 1em;
}

.fa-arrow-right {
	color: #fff;
	transform: rotate(0deg);
	transition-duration: 400ms;
}
/*----about----*/

.about-wrapper {
	height: fit-content;
	margin: 2em 0 2em 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Raleway', sans-serif;
}
.about-content {
	width: 50%;
	word-wrap: break-word;
}

.about-title {
	text-align: center;
	font-size: 2.25em;
	font-weight: 600;
	margin-bottom: 0.5em;
}
.image {
	height: 10em;
	width: 10em;
	border-radius: 50%;
	background-size: cover;
}

/*----skills----*/

.skill-wrapper {
	height: fit-content;
	text-align: center;
	margin: 2em 0 2em 0;
}
.skill-title {
	text-align: center;
	font-size: 2em;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 1em;
}
.skills {
	height: fit-content;
	/* width: fit-content; */
	width: 40%;
	margin: auto;
}
.skill {
	height: fit-content;
	/* width: fit-content; */
	display: contents;
}
.skill-icon {
	text-align: initial;
	margin-top: 0.5em;
	color: #313131;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
}

.total-bar {
	/* width: 20em; */
	width: 100%;
	height: 1.6em;
	background-color: #ccc;
	border-radius: 0.2em;
}
.skill-bar {
	height: 1.6em;
	background-color: #313131;
	border-radius: 0.2em;
}

/*----projects----*/
.projects {
	width: 60%;
	margin: auto;
}
.project {
	margin: 2em 0 2em 0;
}
.project-title {
	font-family: 'oswald', sans-serif;
	font-size: 1.5em;
	font-weight: 600;
	color: #313131;
}
.project-description {
	color: #868e96;
}

.project-link > a {
	color: #1b242f;
	font-style: italic;
}
.project-link {
	margin: 0.5em 0 0.5em 0;
}

/*----contact---*/
.contact-wrapper {
	background-color: #252934;
	height: fit-content;
	padding: 2em 0 2em 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}
.input {
	width: 25em;
	margin: 0.2em;
	height: 2em;
	font-size: 0.8em;
	padding-left: 0.25em;
	background-color: #1e242c;
	border: none;
	font-family: 'Raleway', sans-serif;
}
.msg {
	width: 25em;
	height: 8em;
}
.submit {
	background-color: #252934;
	margin: auto;
	width: 6em;
	height: 2em;
	font-size: 0.8em;
	border-color: #fff;
	color: #fff;
	margin-top: 1em;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
}

.fab {
	margin: 0.25em;
	color: #fff;
}
.fab:hover {
	color: #868e96;
}
.contact-title {
	width: fit-content;
	max-width: 5em;
	font-size: 2.2em;
	font-family: 'oswald', sans-serif;
	color: #444649;
	font-weight: 800;
	text-align: center;
}

@media (max-width: 800px) {
	/* about */
	.about-wrapper {
		flex-direction: column;
	}

	.about-content {
		width: 75%;
		margin-top: 5%;
	}

	/* skills */
	.skills {
		width: 70%;
	}

	/* contact */
	.contact-wrapper {
		flex-direction: column-reverse;
	}
	.wrapper {
		margin-bottom: 1em;
	}
	.input {
		width: 100%;
	}
}
